JARVIS 6.0/JARVIS 6.0/webapp/src/n8n-production-workflow.json
{
  "name": "JARVIS Voice Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "15765e0d-84ab-44d4-88de-3ad51761f52d/chat",
        "responseMode": "responseNode",
        "options": {
          "cors": {
            "allowedOrigins": "*"
          }
        }
      },
      "id": "webhook-1",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "15765e0d-84ab-44d4-88de-3ad51761f52d/health",
        "responseMode": "responseNode",
        "options": {
          "cors": {
            "allowedOrigins": "*"
          }
        }
      },
      "id": "webhook-2",
      "name": "Health Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "healthy"
            },
            {
              "name": "message",
              "value": "JARVIS is operational"
            }
          ]
        },
        "options": {}
      },
      "id": "set-1",
      "name": "Health Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "values": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Send Health Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        600,
        100
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"message\": \"Hello from JARVIS\", \"timestamp\": \"{{ $now }}\"}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "values": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "respond-2",
      "name": "Send Chat Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        400,
        300
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Webhook": {
      "main": [
        [
          {
            "node": "Send Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Webhook": {
      "main": [
        [
          {
            "node": "Health Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Response": {
      "main": [
        [
          {
            "node": "Send Health Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "executionTimeout": 30
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "15765e0d-84ab-44d4-88de-3ad51761f52d"
  },
  "id": "jarvis-workflow",
  "tags": []
}